#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('src/assets/Simple Shiny.svg');
  background-size: cover; 
  background-position: center; 
  font-family: 'Arial', sans-serif; 
}

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px; /* Set the height as needed */
  padding-left: 20px; /* Add padding to the left for spacing */
  background-color: #333; /* Dark grey background color */
}

.title {
  font-size: 24px; /* Adjust the font size as needed */
  margin: 0; /* Remove default margin */
  color: #fff; /* Text color */
}

.launch{
  input {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff; /* Change to white */
    color: #333; /* Change text color to a dark color for better visibility */
    border: 1px solid #ccc; /* Add a border for better visibility */
  }

  .deploy-text {
    text-align: center;
    padding: 0px;
    background: rgba(255, 255, 255, 0.7);
    color: #ffffff;
    font-size: 24px;
  }

  button {
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #ff6347; /* Adjust the button background color */
    color: #000000; /* Text color */
  }

  button:hover {
    cursor: pointer;
  }
}

/* App.css */
.glass-header {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-bottom-left-radius: 0px; /* Adjust the roundness as needed */
  border-bottom-right-radius: 0px; /* Adjust the roundness as needed */
}

.glass-header h1 {
  margin: 0;
  color: #fff;
}
